.gradle
/build/
/gradle/
/out/
/bin/
.idea
/**/build
/**/gradle/
/**/out/
/**/bin/
/**/.idea/
/**/node_modules/
/**/.vscode/
/**/package-lock.json
/**/*.iml

#project
./logs
docker-compose.override.yml