#setter链式调用
clear lombok.accessors.chain
lombok.accessors.chain=true

#默认调用父类
clear lombok.equalsAndHashCode.callSuper
lombok.equalsAndHashCode.callSuper=CALL

clear lombok.equalsAndHashCode.flagUsage
lombok.equalsAndHashCode.flagUsage=ALLOW

clear lombok.toString.callSuper
lombok.toString.callSuper=CALL

clear lombok.toString.flagUsage
lombok.toString.flagUsage=ALLOW